In [1]:
import pandas as pd
import numpy as np

In [2]:
churn = pd.read_csv("./churn_clean.csv", sep=',', decimal='.', header=0)
churn = churn.drop(columns='customerID')

In [3]:
churn['PaymentMethod'] = churn['PaymentMethod'].str.replace(' \(automatic\)', "")

In [4]:
churn.shape

(7043, 20)

In [5]:
print(f"\nData type for each feature:")
churn.dtypes

Data type for each feature:

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

## Encoding the Target Feature

In [6]:
churn_data = churn.drop(columns='Churn')
target = churn['Churn']
target.value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [7]:
target = target.replace({'No': 0, 'Yes': 1})
target.value_counts()

0    5174
1    1869
Name: Churn, dtype: int64

## Encoding Categorical Descriptive Features

In [8]:
categorical_cols = churn_data.columns[churn_data.dtypes==object].tolist()

In [9]:
categorical_cols

['gender',
 'Partner',
 'Dependents',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod']

In [10]:
for col in categorical_cols:
    n = len(churn_data[col].unique())
    churn_data[col] = churn_data[col].str.replace(" ", '_')
    if (n == 2):
        churn_data[col] = pd.get_dummies(churn_data[col], drop_first=True)
        #churn_data[col] = churn_data[col].str.replace("-", '_')
   
# use one-hot-encoding for categorical features with >2 levels
churn_data = pd.get_dummies(churn_data)

In [11]:
churn_data.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'PaperlessBilling', 'MonthlyCharges', 'TotalCharges',
       'MultipleLines_No', 'MultipleLines_No_phone_service',
       'MultipleLines_Yes', 'InternetService_DSL',
       'InternetService_Fiber_optic', 'InternetService_No',
       'OnlineSecurity_No', 'OnlineSecurity_No_internet_service',
       'OnlineSecurity_Yes', 'OnlineBackup_No',
       'OnlineBackup_No_internet_service', 'OnlineBackup_Yes',
       'DeviceProtection_No', 'DeviceProtection_No_internet_service',
       'DeviceProtection_Yes', 'TechSupport_No',
       'TechSupport_No_internet_service', 'TechSupport_Yes', 'StreamingTV_No',
       'StreamingTV_No_internet_service', 'StreamingTV_Yes',
       'StreamingMovies_No', 'StreamingMovies_No_internet_service',
       'StreamingMovies_Yes', 'Contract_Month-to-month', 'Contract_One_year',
       'Contract_Two_year', 'PaymentMethod_Bank_transfer',
       'PaymentMethod_Credit_card', 'PaymentMethod_Electronic_check',
       'PaymentMethod_Mailed_check'],
      dtype='object')

In [12]:
churn_data.sample(5, random_state=999)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,MultipleLines_No,...,StreamingMovies_No,StreamingMovies_No_internet_service,StreamingMovies_Yes,Contract_Month-to-month,Contract_One_year,Contract_Two_year,PaymentMethod_Bank_transfer,PaymentMethod_Credit_card,PaymentMethod_Electronic_check,PaymentMethod_Mailed_check
4210,0,1,1,1,61,1,1,65.20,3965.05,0,...,1,0,0,0,1,0,0,0,1,0
2099,0,0,1,0,40,1,1,78.85,3126.85,0,...,1,0,0,1,0,0,0,1,0,0
5302,0,0,1,1,10,1,1,65.50,616.90,1,...,0,0,1,1,0,0,0,0,1,0
2791,1,0,0,0,57,1,1,74.35,4317.35,1,...,0,0,1,0,0,1,1,0,0,0
3471,0,0,0,0,35,1,0,21.10,741.00,1,...,0,1,0,0,1,0,0,0,0,1

In [13]:
from sklearn import preprocessing

churn_data_df = churn_data.copy()

churn_data_scaler = preprocessing.MinMaxScaler()
churn_data_scaler.fit(churn_data)
churn_data = churn_data_scaler.fit_transform(churn_data)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)
C:\Users\HP\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)